@font-face {
    font-family: Ubuntu;
    src: url("../../assets/fonts/Ubuntu.ttf");
}

.quotes{
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.753); 
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 0;
    font-family: Ubuntu;
    position: relative;
    top: 20px;
}

