.gerar {
    background-color: black;
    color: white;
    border: 0;
    padding: 20px;
    font-size: 20px;
    border-radius: 25px;
    box-shadow: 1px 2px 2px 1px rgba(241, 238, 238, 0.616);
    position: relative;
    top: 120px;
    /* align-self: flex-start; */
}


.gerar:active{
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.637);
}

